<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="../../assets/stylesheets/application.css">
  </head>

  <body>
    <nav class="container">
      <p> <%= link_to "Wikinimous", articles_path %> </p>
      <p> <%= link_to "New Article", new_article_path %> </p>
    </nav>

    <%= yield %>
  </body>
</html>
